* {
    font-family: 'Sigmar', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#00C9FF, #92FE9D);
}

#centralBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: white;
    width: 800px;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}

#pic {
    max-width: 300px;
    display: flex;
    justify-content: center;
}

img {
    width: 100%;
    border-radius: 20px;
}

#info {
    margin-left: 50px;
    max-width: 400px;
}

h1 {
    font-family: 'Sigmar One', cursive;
    font-size: 40px;
}

p {
    font-family: Lato;
    font-weight: 300;
    color: grey;
    margin-bottom: 30px;
}

#details {
    list-style: none;
    font-family: Lato;
    padding: 0;
}

#details li {
    margin-bottom: 10px;
}

.fas {
    color:  #35d5ec;
    font-size: 30px;
    margin-right: 10px;
}

#social {
    display: flex;
    /* flex-direction: row; */
    /* justify-content: space-between; */
    list-style: none;
    padding: 0;
}

#social li {
    margin-right: 15px;
}

.fab {
    color:  #acfffd;
    font-size: 40px;
    transition: 0.3s;
}

.fab:hover {
    color:  #35ecab;
    transition: 0.3s;
    transform: scale(1.3);
}